@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700;800&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700;800&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    background-color: #888;
    
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #F4F4F4;
   padding: 20px;
}
header h1{
    font-family: 'cormorant';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 70.19%;
    color: #A9592C;
    margin-left: 20px;
}
/* header ul{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    
}
ul li{
    display: flex;
    list-style: none;
   
}

li a{
    text-decoration: none;
    display: flex;
    color: #A9592C;
    padding: 10px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
   
}
.signup-sec{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    
}
.signup-sec a{
    text-decoration: none;
    border: none;
    background:#A9592C; ;
    border-radius: 15px;
    color: white;
    padding: 12px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    width: 120px;
} */
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    /* width: 200px; */
    border-radius: 15px;
}
#deliver-form{
    color: white;
    font-family: 'DM Sans';
    font-weight: 800;
    font-size: 25px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-image: url(./Rectangle\ 4204.png);
    border-radius: 10px;
}
label{
    font-size: 20px;
    font-family: 'DM Sans';
    font-weight: 700;
    color: white;
}
input{ 
    background-color: azure;
    color: black;
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
    border: none;

}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 15px;
    margin: 5px;
    margin-left: 110px;
    border-radius: 5px;
    border: none;
    background-color: aqua;
    color: antiquewhite;
    font-weight: 700;
}

.success-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    z-index: 9999;
  }
  
  .success-message {
    color: #A9592C;
    margin-bottom: 10px;
    font-family: 'DM Sans';
    font-weight: 800;
    font-size: 25px;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
  }


  @media screen and (max-width :576px) {
    #deliver-form{
        width: 100%;
        text-align: center;
    }
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        padding: 15px;
        margin: 5px;
        margin-left: 30px;
        border-radius: 5px;
        border: none;
        background-color: aqua;
        color: antiquewhite;
        font-weight: 700;
    }
}
  